@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scrollbar-width: none;
}
/* bg-[url('./src/assets/images/Myimages/salloo4.jpg')]  */
#heroSection{
    background-image: url('./src/assets/images/MyImages/salloo4.jpg');
}
.stepText {
    position: relative;
}

.stepText>span {
    animation: typing 5s steps(100, end) infinite;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}